.btn {
  border-radius: $border-radius;
  color: $white;
  font-weight: $font-weight-black;
  border-color: $transparent;
  cursor: pointer;

  &-primary {
    background: $primary-color;

    &:hover {
      background: $white;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  &-revolutionary {
    width: 390px;
    height: 62px;
    font-size: 22px;
    position: absolute;
    top: -33px;
    @media (max-width: $xs) {
      width: 290px;
      font-size: $font-size-18;
    }
  }

  &-sm {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 20px;
  }

  &-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-git {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: .25em 0 0 .25em;
    @include flex-between-center;

    svg {
      padding-right: 5px;
    }
  }

  &-price {
    background: url("../../img/heading-bg.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 42px;
    width: 160px;
    border: 1px solid transparent;
    margin-top: 35px;
    @include uppercase;
    font-size: $font-size-14;

    &:hover {
      color: #7F6D78;
      font-weight: 700;
      background-color: #D0CBD0;
    }
  }
}

.social-count {
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27, 31, 35, .2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.git-btn-item {
  margin: 0 10px 0 0;
  @media (max-width: $xs) {
    margin: 0 10px 20px 0;
  }
}

.header__btn{
  @include link-btn;
  width: 145px;
  height: 38px;
  @include flex-center;
  align-items: center;
  margin-left: 48px;
  border: 1px solid $violet;
}