//captions
h1 {
  font-size: $font-size-80;
  font-weight: $font-weight-black;
  padding: 0 15px;
  color: $white;
}

h2 {
  font-size: $font-size-54;
  color: $violet-dark;
  @include uppercase;
  font-weight: $font-weight-black;
  padding: 0 15px;
  @media (max-width: $md) {
    font-size: 40px;
    text-align: center;
  }
  @media (max-width: $xs) {
    font-size: 32px;
    line-height: 45px;
  }
}

h3 {
  font-size: $font-size-45;
  font-weight: $font-weight-black;
  padding: 0 15px;
  @media (max-width: $md) {
    font-size: 40px;
  }
  @media (max-width: $xs) {
    font-size: 32px;
    line-height: 40px;
  }
}