.opinions {
    background-image: url("../img/about-fork.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container {
    text-align: center;
}

.opinions__list {
    display: flex;
    flex-wrap: wrap;
}

.section-heading {
    text-align: center;
    color: white;
    padding-top: 25px;
}

.opinions__target {
    color: white;
    max-width: 33%;
    font-size: $font-size-18;
    line-height: 20px;
    margin-top: 60px;
    img {
        padding-bottom: 25px;
    }
    @media (max-width: $md) and (min-width: $sm) {
        max-width: calc((100% / 2) - 20px);
        flex: 0 0 50%;
    }
    @media (max-width: $xs) {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0px 10px;
    }
}

p {
    color: #A291A5;
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: $font-size-16;
    line-height: 24px;
    font-style: italic;
}