.navbar {
    background-color: $nav-bg;
    height: 100px;
    padding: 30px;
    box-sizing: border-box;
    .container {
        @include flex-between-center;
        ;
    }
    &-logo {
        @include link-btn;
        @include flex-between-center;
        font-size: $font-size-22;
        font-weight: $font-weight-black;
    }
    .logo__text {
        color: $violet;
        padding-left: 17px;
    }
    .header__flex-wrapper {
        flex: 1;
        @include flex-end;
    }
    .menu {
        @include flex-between-center;
        flex: 1;
        a {
            color: $violet;
            font-size: $font-size-22;
            @include link-btn;
        }
    }
    .header__burger-menu {
        @include flex-between;
        max-width: 600px;
        flex: 0 0 600px;
    }
    @media (max-width: $md) and (min-width: $sm) {
        max-width: 100%;
        flex: 0 0 40%;
        .navbar-logo {
            margin-bottom: 60px;
        }
        .menu__item {
            margin-top: 20px;
        }
        .btn {
            position: absolute;
        }
    }
    @media (max-width: $xs) {
        max-width: 100%;
        flex: 0 0 50%;
    }
}