.navbar {
  background-color: $nav-bg;
  height: 100px;
  padding: 30px;
  box-sizing: border-box;

  .container {
    @include flex-between-center;;
  }

  &-logo {
    @include link-btn;
    @include flex-between-center;
    font-size: $font-size-22;
    font-weight: $font-weight-black;
  }

  .logo__text {
    color: $violet;
    padding-left: 17px;
  }

  .header__flex-wrapper {
    flex: 1;
    @include flex-end;
  }

  .menu {
    @include flex-between-center;
    flex: 1;

    a {
      color: $violet;
      font-size: $font-size-22;
      @include link-btn;
    }
  }

  .header__burger-menu {
    @include flex-between;
    max-width: 600px;
    flex: 0 0 600px;
  }
}