.section-editor {
  small {
    padding: 48px 0 68px;
    color: $grey;
  }

  h2 {
    margin-bottom: 38px;
  }

  .subtitle {
    color: $black;
    font-size: $font-size-20;
    text-align: center;
    max-width: 915px;
    line-height: 30px;
    @media (max-width: $md) {
      padding: 0 15px;
    }
    @media (max-width: $xs) {
      font-size: $font-size-14;
      line-height: 20px;
    }
  }

  &-holder {
    @include flex-column-center-align;
    position: relative;
    padding-bottom: 70px;
  }

  .btns-git-holder {
    @include flex-center;
    margin-top: 36px;
  }

}


