body {
  font-family: $font-family;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: $md) {
    max-width: 700px;
  }
  @media (max-width: $sm) {
    max-width: 100%;
  }
}